.box {
    height: 100%;
    width: 100%;
    margin-left:50px;
  }
  /* 여행 일정 짜기(일정 정하기) */
  
  .trip{position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  
  background: #FFFFFF;
       }
  
  .r{/* Rectangle 36 */
  
    position: absolute;
    width: 1442px;
    height: 110px;
    left: -2px;
    top: -1px;
  
    background: #b8b7b7;
  }
  
  .h2{
    /* 일정구체적으로 표시 */
  
    position: absolute;
    width: 456px;
    height: 353px;
    left: 26px;
    top: 646px;
  
  
  }
  
  .h2_p1{/* Rectangle 35 */
  
    position: absolute;
    width: 456px;
    height: 56.2px;
    left: 26px;
    top: 646px;
  
    background: rgba(0, 0, 0, 0.85);
    border-radius: 27.1958px 27.1958px 0px 0px;
  
    
  }
  