body {
  margin: 0;
  padding: 0;
}

.nav {
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #efefef;
  z-index: 2;
}

ul.menu {
  display: flex;
  margin-right: 50px;
  list-style: none;
  margin-left: auto; /* 오른쪽으로 정렬 */
}

ul.menu > li {
  margin: 16px;
  font-family: 'NanumSquareNeo';
  font-weight: 600;
}

ul.menu > li.myPage {
  color: #001BAB;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 10px;
}

.search-block {
  display: flex;
  align-items: center;
}

#searchInput {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-family: 'NanumSquareNeo';
}

/* home.html */
.main {
  text-align: center;
  font-size: 28px;
  font-family: 'NanumSquareNeo';
  padding: 140px 16px 80px;
}

.main > h1 {
  color: #001BAB;
}

.main > h3 {
  color: #3d3d3d;
}

.description {
  display: flex;
  align-items: flex-end; 
  text-align: left;
  padding: 50px 16px;
  margin: 0 100px;
}

.description img {
  max-width: 100%;
  height: auto;
  margin-left: 88px;
  margin-right: 98px; 
}

.description div {
  max-width: 730px; 
  font-family: 'NanumSquareNeo';
  text-align: right;
}

.description div > h1 {
  font-size: 45px; 
}

.description div > h3 {
  font-size: 25px;
  font-weight: 500;
  color: #3d3d3d;
}


/* mypage.html */
.container {
  display: flex;
  margin-top: 66px; /* 내비게이션 바의 높이만큼 공간을 띄움 */
  height: calc(100vh - 66px); /* 전체 화면 높이에서 내비게이션 바 높이만큼 빼기 */
}

.sidebar {
  width: 243px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  height: 100%; /* 사이드바가 부모 요소의 높이를 채우도록 설정 */
  position: fixed; /* 고정 위치 */
  top: 66px; /* 내비게이션 바 아래에 위치 */
  z-index: 1; 
}

.sidebar .menu {
  font-family: 'NanumSquareNeo';
  list-style: none;
  padding: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.sidebar .menu > h1 {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 100px;
  color: #004D95;
}

.sidebar .menu li {
  margin: 10px 0; 
  width: 100%;
}

.sidebar .menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

.sidebar .menu a:hover {
  background-color: #ddd;
}

.content {
  margin-left: 263px; 
  padding: 20px;
  flex: 1;
  font-family: 'NanumSquareNeo';
}

.banner {
  position: relative;
  width: 100%;
  height: 300px; 
  background: url(../html/images/배너사진.jpg) no-repeat center center;
  background-size: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.banner-overlay h2 {
  font-size: 36px;
  margin: 0;
}

.banner-overlay p {
  font-size: 18px;
  margin: 10px 0 0;
}