body {
  margin: 0;
}

.wrapper {
  padding: 8% 10%;
  background: #fafbfc;

  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2px;

  img {
    width: 40px;
    height: 40px;
  }

  p {
    color: #000;
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}

.header-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.location-img {
  width: 100%;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 26px;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }
}

.separator {
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background: #121;
  margin: 36px 0;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.overview-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.overview-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  gap: 16px;
}

.section-title {
  margin: 0;
  color: var(--Blackish-Green, #121);
  font-size: 28px;
  font-weight: 700;
}

.section-content {
  color: var(--Blackish-Green, #121);
  font-size: 16px;
  font-weight: 500;
}

.overview-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  padding: 16px 64px 16px 16px;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--Blue, #001bab);
  gap: 24px;
}

.detail-box-header {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    color: var(--Blackish-Green, #121);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.detail-info {
  height: 100%;
  color: var(--Blackish-Green, #121);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviews {
  display: flex;
  flex-direction: column;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    height: 48px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Blue, #001bab);
    border: none;

    color: #fff;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.reviews-summary {
  margin-top: 8px;
  display: flex;
  align-items: end;
  gap: 16px;

  color: var(--Blackish-Green, #121);
  font-family: Pretendard;

  p {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
  }

  span {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
  }
}

.review-separator {
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background: #121;
  margin: 24px 0;
}

.review {
  display: flex;
  gap: 16px;

  img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 45px;
  }
}

.review-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.review-header {
  display: flex;
  flex-direction: row;
  gap: 8px;

  span {
    color: var(--Blackish-Green, #121);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }

  div > img {
    width: 16px;
    height: 16px;
  }
}

.review-text {
  color: var(--Blackish-Green, #121);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}
